{% extends "base.html" %}

{% block content %}

<div style="max-width:400px;margin:80px auto;background:white;padding:20px;border-radius:10px;">
    <h2>Set New Password</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="password" name="new_password1" placeholder="New Password"
               style="width:100%;padding:10px;margin-bottom:10px;">

        <input type="password" name="new_password2" placeholder="Confirm Password"
               style="width:100%;padding:10px;margin-bottom:10px;">

        <button style="width:100%;padding:10px;background:#25D366;color:white;border:none;">
            Reset Password
        </button>
    </form>
</div>

{% endblock %}