{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <!-- LEFT SIDE -->
    <div class="sidebar">

        <h3>Chats</h3>
        <h4 style="padding: 0 10px;">👥 All Users</h4>
        <div id="userList" style="padding:10px;"></div>

        <div class="top-bar">
            <button id="logoutBtn">Logout</button>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="chat-box">
        <div class="messages" id="messageBox">
            <p>Select a conversation to start chatting 💬</p>
        </div>

        <div class="input-box" id="chatInput" style="display:none;">
            <input type="text" id="messageInput" placeholder="Type a message..." />
            <button onclick="sendMessage()">Send</button>
        </div>

    </div>

</div>

<script src="{% static 'js/chat.js' %}"></script>

</body>
</html>